*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.cache/
.coverage*
!.coveragerc
/htmlcov/
*.py,cover
.idea/
.vscode/
.pytest_cache/
/coverage.xml
.eggs/

MANIFEST.in~
codebin/
/tmp/
.zip
/examples/db/
/var/
/examples/tmp/
/examples/logs/
/builddocs/
/docs/_build/
/builddocs.zip
/build/
/dist/
fake.py.egg-info
matyan.log*
db.sqlite3
sample_db.sqlite
test_database.db
local_settings.py
/prof/
*.cast
.ipynb_checkpoints/
.scannerwork/
*db.sqlite3*
examples/pydantic/media/
examples/tortoise/media/
examples/django/media/
examples/dataclasses/media/
examples/sqlalchemy/media/
examples/sqlmodel/media/
examples/hypothesis/.hypothesis/
.mypy_cache/
