name: test_unstable

on:
  push:
  pull_request:
    types: [review_requested, ready_for_review]
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:

  # *************************************
  # **************** Tests **************
  # *************************************
  test:
    name: test ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        os:
          - ubuntu-22.04
        #          - Windows
        #          - MacOs
        python-version:
          - "3.15.0-alpha.2"
    env:
      PYO3_USE_ABI3_FORWARD_COMPATIBILITY: "1"
    steps:
      - name: Clean-up
        run: sudo apt clean && sudo apt autoclean && sudo rm -rf /tmp/* && sudo rm -rf /usr/share/dotnet && sudo rm -rf /opt/ghc && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        continue-on-error: true
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        continue-on-error: true
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        continue-on-error: true
        run: |
          python -m pip install --upgrade pip
      - name: Install package
        continue-on-error: true
        run: |
          pip install -e .[all]
      - name: Run test suite
        continue-on-error: true
        run: pytest -vrx
        env:
          PYTEST_ADDOPTS: "-vv --durations=10"
